@model kl_eCom.Web.Areas.Vendors.Models.StoreCreateViewModel
@{
    ViewBag.Title = "Store - Create";
}

<div class="container">
    <h2>Create Store</h2>

    @using (@Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(m => m.CurrencyType)

        <div class="col-md-offset-1">
            <div class="form-group">
                <h4>Address :</h4>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Line1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Line1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Line1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Line2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Line2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Line2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Line3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Line3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Line3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" class="btn btn-info col-md-offset-2" value="Create" />
    </div>
    }
</div>