@model kl_eCom.Web.Areas.Vendors.Models.StoreDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Store - Details</h2>

<div class="container">

    <div class="row">
        <div class="text-center col-md-2 col-sm-3">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="text-center col-md-2 col-sm-3">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>

    <div class="row">
        <div class="text-center col-md-2 col-sm-3">
            @Html.LabelFor(m => m.CurrencyType)
        </div>
        <div class="text-center col-md-2 col-sm-3">
            @Html.DisplayFor(m => m.CurrencyType)
        </div>
    </div>

    <div class="row">
        <div class="text-center col-md-2 col-sm-3">
            @Html.LabelFor(m => m.Address)
        </div>
        <div class="col-md-10 col-sm-9">
            <br />
            <dl class="dl-horizontal" style="position: relative; right: 100px">
                <dt>
                    Line 1
                </dt>
                <dd>
                    @Model.Address.Line1
                </dd>
                <dt>
                    Line 2
                </dt>
                <dd>
                    @Model.Address.Line2
                </dd>
                <dt>
                    Line 3
                </dt>
                <dd>
                    @Model.Address.Line3
                </dd>
                <dt>
                    Landmark
                </dt>
                <dd>
                    @Model.Address.Landmark
                </dd>
                <dt>
                    Zip Code
                </dt>
                <dd>
                    @Model.Address.Zip
                </dd>
                <dt>
                    Market
                </dt>
                <dd>
                    @Model.Address.Market.Name
                </dd>
                <dt>
                    City
                </dt>
                <dd>
                    @Model.Address.Place.Name
                </dd>
                <dt>
                    State
                </dt>
                <dd>
                    @Model.Address.State.Name
                </dd>
                <dt>
                    Country
                </dt>
                <dd>
                    @Model.Address.Country.Name
                </dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="text-center col-md-2 col-sm-3">
            @Html.Label("Vendor Name")
        </div>
        <div class="text-center col-md-2 col-sm-3">
            @Html.DisplayFor(m => m.Vendor.FirstName)
            <text> </text>
            @Html.DisplayFor(m => m.Vendor.LastName)
        </div>
    </div>

    <div class="row">
        <div class="text-center col-md-2 col-sm-3">
            @Html.Label("Categories :")
        </div>
        <div class="text-center col-md-2 col-sm-3">
            @foreach (var cat in Model.Categories)
            {
                <div>
                    @Html.DisplayFor(m => cat.Name)
                </div>
            }
        </div>
    </div>

    <div class="col-md-offset-2" style="margin-top: 20px;">
        @Html.ActionLink("Edit", "Edit",
            new { id = Model.Id },
            new { @class = "btn btn-success"})

        @Html.ActionLink("Delete", "Delete",
            new { id = Model.Id },
            new { @class = "btn btn-danger"})
    </div>
</div>