@model kl_eCom.Web.Areas.Vendors.Models.StoreEditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Store - Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CurrencyType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.CurrencyType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.CurrencyType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Line1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Line1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Line1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Line2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Line2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Line2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Line3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Line3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Line3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Zip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Country", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Country, new SelectList(Model.Countries, "Value", "Text"), "Please select a country", new {
                    @class = "form-control", id = "Country" })
                @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("State", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.State, new SelectList(Model.States, "Value", "Text"), "Please select a state", new {
                    @class = "form-control", id = "State" })
                @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.City, new SelectList(Model.Cities, "Value", "Text"), "Please select a city", new {
                    @class = "form-control", id = "City" })
                @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Market", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Market, new SelectList(Model.Markets, "Value", "Text"), "Please select a market", new {
               @class = "form-control", id = "Market" })
                @Html.ValidationMessageFor(m => m.Market, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $('#Country').change(function () {
            var selectedCountry = $('#Country').val();
            var statesSelect = $('#State');
            statesSelect.empty();
            $("#City").empty();
            $("#Market").empty();
            if (selectedCountry != null && selectedCountry != "") {
                $.getJSON('@Url.Action("GetStates")', { idStr: selectedCountry }, function (states) {
                    if (states != null && !jQuery.isEmptyObject(states)) {
                        statesSelect.append($('<option/>', {
                            value: null,
                            text: "--- Select a state ---"
                        }));
                        $.each(states, function (index, state) {
                            statesSelect.append($('<option/>', {
                                value: state.Value,
                                text: state.Text
                            }));
                        });
                    };
                });
            }
        });

        $('#State').change(function () {
            var selectedState = $('#State').val();
            var citiesSelect = $('#City');
            citiesSelect.empty();
            $("#Market").empty();
            if (selectedState != null && selectedState != "") {
                $.getJSON('@Url.Action("GetCities")', { idStr: selectedState }, function (cities) {
                    if (cities != null && !jQuery.isEmptyObject(cities)) {
                        citiesSelect.append($('<option/>', {
                            value: null,
                            text: "--- Select a city ---"
                        }));
                        $.each(cities, function (index, city) {
                            citiesSelect.append($('<option/>', {
                                value: city.Value,
                                text: city.Text
                            }));
                        });
                    };
                });
            }
        });

        $('#City').change(function () {
            var selectedCity = $('#City').val();
            var marketsSelect = $('#Market');
            marketsSelect.empty();
            if (selectedCity != null && selectedCity != "") {
                $.getJSON('@Url.Action("GetMarkets")', { idStr: selectedCity }, function (markets) {
                    if (markets != null && !jQuery.isEmptyObject(markets)) {
                        marketsSelect.append($('<option/>', {
                            value: null,
                            text: "--- Select a market ---"
                        }));
                        $.each(markets, function (index, market) {
                            marketsSelect.append($('<option/>', {
                                value: market.Value,
                                text: market.Text
                            }));
                        });
                    };
                });
            }
        });
    });
    </script>
}