@model kl_eCom.Web.Areas.Vendors.Models.CategoryEditViewModel
@{ 
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Attributes", htmlAttributes: new { @class = "control-label col-md-2" })
        <input type="button" id="btnAddAttributes" class="btn btn-success" value="Add Attributes" style="margin-left: 15px" />
    </div>
    <div id="divAddAttributes" class="col-md-offset-2">
        @foreach (var atr in Model.Attributes)
        {
            @Html.Partial("AddAttributePartial", new kl_eCom.Web.Areas.Vendors.Models.AddAttributeViewModel() { AtrbName = atr.Name, Type = atr.InfoType })
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReflectChange, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ReflectChange, new { htmlAttributes = new { @class = "checkbox" } })
            @Html.ValidationMessageFor(m => m.ReflectChange, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var count = 0;
        $("#btnAddAttributes").click(function () {
            var dataString = "id=" + (count + 1);
            $.ajax({
                url: '@HttpUtility.UrlDecode(@Url.Action("AddAttributePartial", "Category"))',
                data: dataString,
                type: "GET",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    SetData(data);
                }
            });
            count++;
        });

        function SetData(data) {
            $("#divAddAttributes").append(data);
        }
    });
</script>