@model kl_eCom.Web.Areas.Vendors.Models.CategoryImportProductViewModel
@{
    ViewBag.Title = "Change Category";
}

<h2>Change Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="form-group">
        @Html.Label("Category Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Name
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Current Products", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @foreach (var prod in ViewBag.CurrProds)
            {
                @prod
            }
        </div>
    </div>

    @{
        var selectList = new SelectList(ViewBag.AvlblProds);
    }
    <div class="form-group">
        @Html.Label( "Available Products", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ProductName, selectList, optionLabel: "Please select a product")
        </div>
    </div>

    @Html.HiddenFor(m => m.ReflectChange)

    <input type="submit" class="btn btn-primary col-md-offset-2" value="Import" />
</div>
}

@Html.ActionLink("Back to Details", "Details", new { storeId = ViewBag.StoreId, catId = Model.Id })