@model kl_eCom.Web.Areas.KL_Admin.Models.AdminVendorsDetailsViewModel
@{
    ViewBag.Title = "Details - Vendor";
}

<h2>Details - Vendor</h2>

@*<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Display(Model.Vendor.User.FirstName + " " + Model.Vendor.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.VendorDetails.RegistrationDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.VendorDetails.RegistrationDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.VendorDetails.DomainRegistrationDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.VendorDetails.DomainRegistrationDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.VendorDetails.BusinessName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.VendorDetails.BusinessName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ActivePackage.Plan.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ActivePackage.Plan.Price, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Package", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ActivePackage.Plan.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ActivePackage.Plan.MaxProducts, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ActivePackage.Plan.MaxProducts, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ActivePackage.Plan.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ActivePackage.Plan.Price, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ActivePackage.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ActivePackage.Balance, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>*@

<dl class="dl-horizontal col-md-offset-1">
    <dt>Owner's Name</dt>
    <dd>
        @string.Format("{0} {1}", Model.Vendor.User.FirstName, Model.Vendor.User.LastName)
    </dd>

    <dt>Email ID</dt>
    <dd>
        @Model.Vendor.User.Email
    </dd>

    <dt>Registration Date</dt>
    <dd>
        @Model.VendorDetails.RegistrationDate
    </dd>

    <dt>Domain Registeration Date</dt>
    <dd>
        @Model.VendorDetails.DomainRegistrationDate
    </dd>

    <dt>Business Name</dt>
    <dd>
        @Model.VendorDetails.BusinessName
    </dd>

    <dt>Active Plan Name</dt>
    <dd>
        @Model.ActivePackage.Plan.Name
    </dd>

    <dt>Plan Cost</dt>
    <dd>
        @Model.ActivePackage.Plan.Price
    </dd>

    <dt>Maximum Products Allowed</dt>
    <dd>
        @Model.ActivePackage.Plan.MaxProducts
    </dd>

    <dt>Balance</dt>
    <dd>
        @Model.ActivePackage.Balance
    </dd>
</dl>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Vendor.ApplicationUserId)

    <br />
    <div class="form-group col-md-offset-2">
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10" style="display: flex; align-items: center;
            position: relative; bottom: 3px">
            @Html.EditorFor(m => m.Vendor.IsActive, new { htmlAttributes = new { @class = "checkbox",
                style = "postion: relative; bottom: 2px" } })
            <input type="submit" class="btn btn-link" value="save" />
        </div>
    </div>
    }

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @if ((Model.ActivePackage.Balance != null && Model.ActivePackage.Balance > 0)
            || Model.DowngradeRequest != null)
        {<text>@Html.ActionLink("Go to plan change", "PlanChange", new { id = Model.Vendor.ApplicationUserId })</text> }
    else
    { <text>No pending changes</text>}
        <text> | </text>
        @Html.ActionLink("Edit Domain Date", "EditDomain", new { id = Model.Vendor.ApplicationUserId })
        <text> | </text>
        @Html.ActionLink("Reset Password", "ResetPassword", new { id = Model.Vendor.Id })
        <br />
        @Html.ActionLink("Delete Vendor", "Delete", new { id = Model.Vendor.Id })
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>