@model kl_eCom.Web.Areas.KL_Admin.Models.AdminVendorsIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Vendors List</h2>

<div class="row">
    @Html.ActionLink("Fix Active Products", "FixActiveProducts", null, new { @class = "col-md-offset-10" })
</div>

<table class="table">
    <tr>
        <th>@Html.Label("Username")</th>
        <th>@Html.Label("Email")</th>
        <th>@Html.Label("Phone")</th>
        <th>@Html.Label("First Name")</th>
        <th>@Html.Label("Last Name")</th>
        <th>@Html.Label("Registration Date")</th>
    </tr>
    @foreach (var vndr in Model.Vendors)
    {
        <tr>
            <td>@Html.ActionLink(vndr.UserName, "Details", new { id = vndr.Id })</td>
            <td>@Html.DisplayFor(m => vndr.Email)</td>
            <td>@Html.DisplayFor(m => vndr.PhoneNumber)</td>
            <td>@Html.DisplayFor(m => vndr.FirstName)</td>
            <td>@Html.DisplayFor(m => vndr.LastName)</td>
            <td>@Html.DisplayFor(m => vndr.VendorDetails.RegistrationDate)</td>
        </tr>
    }
</table>