@model kl_eCom.Web.Areas.KL_Admin.Models.AdminVendorsResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Areas/Vendors/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>


<div>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Name)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Email)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.VendorId)

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @class = "form-control Site-Password" } })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control Site-Password" } })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-offset-2">
                <input type="checkbox" id="showPassword" />
                <label>Show Passwords</label>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#showPassword").click(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $(".Site-Password").attr("type", "text");
                } else {
                    $(".Site-Password").attr("type", "password");
                }
            });
        });
    </script>
}