@model kl_eCom.Web.Models.CartIndexViewModel
@{
    Layout = "~/Views/Shared/_EcomLayout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.IsCart = true;
}
<div class="container">
    <h2>My Cart</h2>

    @if (ViewBag.Flag)
    {
        <text>
            <div class="alert alert-danger alert-dismissible" style="width: 800px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Cart Updated!</strong> @Html.ActionLink((string)ViewBag.ProdName,
"ProductDetails", "Shop", new { id = (int)ViewBag.StockId },
null) was deleted successfully.
            </div>
        </text>
    }

    @if (ViewBag.CheckoutErr)
    {
        <text>
            <div class="alert alert-warning alert-dismissible" style="width: 800px;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Checkout Failed!</strong> Your cart is Empty.
            </div>
        </text>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table class="table">
            <tr>
                <th>

                </th>
                <th>
                    @Html.Label("Name")
                </th>
                <th>
                    @Html.Label("Qty")
                </th>
                <th>
                    @Html.Label("Cost")
                </th>
                <th>

                </th>
            </tr>

            @if (Model.Cart.CartItems == null)
            {
                Model.Cart.CartItems = new List<kl_eCom.Web.Utilities.CartItem>();
            }

            @foreach (var itm in Model.Cart.CartItems)
            {
                <tr>
                    <td>
                        @*<img class="img-thumbnail" width="45" height="45"
                            src="@Url.Action("GetThumbnail", "Product",
                               new { id = itm.Stock.ProductId  })" />*@
                    </td>
                    <td>
                        @Html.ActionLink(Model.ProductNames[itm], "ProductDetails",
                  "Shop", new { id = itm.StockId }, null)
                    </td>
                    <td style="min-width: 100px; max-width: 100px">
                        <select name="Stock_Qtys" class="Stock_Qtys" style="min-width: 38px">
                            @for (int i = 1; i <= Model.Product_MaxAllowed[itm]; i++)
                            {
                                <text>
                                    <option value="@i"
                                            @if (itm.Qty == i) { <text> selected</text> }>
                                        @i
                                    </option>
                                </text>
                            }
                        </select>
                    </td>
                    <td style="max-width: 100px; min-width: 100px">
                        <text>@Model.Prices[itm]</text>
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "Delete", new { id = itm.StockId, return_Url = ViewBag.ReturnUrl })
                    </td>
                </tr>
            }
        </table>

        <div class="col-md-offset-10">
            <input type="submit" class="btn btn-link" value="Update Cart" />
        </div>
    }

    <div>
        <div>
            @Html.Partial("VoucherPartial", new kl_eCom.Web.Models.CartVoucherViewModel())
            <text style="text-decoration: underline">Applied Vouchers</text> : @ViewBag.Vouchers<br />
        </div>
    </div>


    <div class="row" style="margin-top: 15px">
        <div class="col-md-3 text-right">
            @*<input type="submit" value="Save Cart" class="btn btn-success" />*@
        </div>
        <div class="col-md-3 text-center">
            @Html.Label("Total Cost: ")
            @Html.DisplayFor(m => m.TotalCost, new { htmlAttributes = new { id = "total_cost" } })
        </div>
        <div class="col-md-6 text-center">
            @Html.ActionLink("Checkout", "Checkout", null, new { @class = "btn btn-primary" })
        </div>
    </div>

    @Html.ActionLink("Continue Shopping", "ContinueShopping", new { returnUrl = ViewBag.ReturnUrl })
</div>

@section scripts {
  <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
  <script src="~/Scripts/jquery-3.3.1.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $("select.Stock_Qtys").change(function () {
              // alert("changed");
              // var selectedQty = parseInt($(this).children("option:selected").val());
              // alert(('#total_cost').val() * selectedQty);
          });
      });
  </script>
}