@model kl_eCom.Web.Areas.Vendors.Models.HomeRegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h2>Register - Vendor</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.UserName, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.FirstName, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.LastName, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BusinessName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.BusinessName, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Email, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Mobile, "", new { @class = "form-control" } )
            @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Password, "", new { htmlAttributes = new { id = "password", @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <input type="checkbox" id="showPswrd" style="position: relative; top: 2px; margin-right: 0px;" />
            show password
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.WebsiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.WebsiteUrl, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.WebsiteUrl, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Zip, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Zip, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.State, "", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div>
        <h4>Plans</h4>
        @foreach (var plan in Model.AvailablePackages)
        {
        <div class="col-md-offset-2">
            <input type="radio" id="PlansList" name="PlansList" value="@plan.Id" @if (Model.VendorPackageSelected == plan.Id) { <text> checked</text>} @if (!plan.IsEnabled) { <text>disabled="disabled"</text> } />
            <div style="display: inline-block">Name: @plan.DisplayName, Max. Products Allowed: @plan.MaxProducts, Validity: @if (plan.ValidityPeriod != null) { <text>@plan.ValidityPeriod (in years)</text> }
            else { <text>No expiration</text> }, Price: @if (plan.Price == 0.0f) { <text>free</text> } else { <text>@plan.Price</text> }</div>
        </div>
        }
    </div>*@

    <input type="submit" class="col-md-offset-2 btn btn-primary" value="Register" />
</div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#showPswrd').click(function () {
                var checked = $(this).is(":checked");
                if (checked) {
                    $("#password").attr("type", "text");
                } else {
                    $("#password").attr("type", "password");
                }
            });
        });
    </script>
}