@model kl_eCom.Web.Areas.KL_Admin.Models.AdminCategoryEditViewModel
@{
    ViewBag.Title = "Category - Edit";
    Layout = "~/Areas/KL_Admin/Views/Shared/_Layout.cshtml";
}

<h2>Category - Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.HiddenFor(m => m.CatId)

        <div class="form-group">
            @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Parent Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.ParentId, new SelectList(Model.Categories, "Value", "Key"), "None", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ParentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Go Back", "CategoryDetails", new { id = Model.CatId })
</div>