@model kl_eCom.Web.Models.KL_Category
@{
    ViewBag.Title = "Category - Delete";
    Layout = "~/Areas/KL_Admin/Views/Shared/_Layout.cshtml";
}

<h2>Category - Delete</h2>

<h4>Are you sure you want to delete this category?</h4>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.Label("Parent Name")
    </dt>
    <dd>
        @if (Model.ParentCategory != null)
        {
            @Html.DisplayFor(model => model.ParentCategory.Name)
        }
        else
        {
            <text>-</text>
        }
    </dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.KL_CategoryId)

    <div class="col-md-offset-1">
        @Html.ActionLink("Go back", "CategoryDetails", new { id = Model.KL_CategoryId })
        <text> | </text>
        <input class="btn btn-default" type="submit" value="Delete" />
    </div>
}