@model List<kl_eCom.Web.Entities.Order>
@{
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_EcomLayout.cshtml";
}

<h2>My Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Order Number")
        </th>
        <th>
            @Html.Label("Date")
        </th>
        <th>
            @Html.Label("Order Items")
        </th>
        <th>
            @Html.Label("Status")
        </th>
        <th>
            @Html.Label("Total Cost")
        </th>
        <th></th>
    </tr>
    @foreach (var order in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(m => order.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(m => order.OrderDate)
        </td>
        <td>
            <ul>
            @foreach (var itm in order.OrderItems)
            {
                <li>@itm.ProductName x @itm.Qty = @itm.FinalCost</li>
            }
            </ul>
        </td>
        <td>
            <ul>
                @foreach (var itm in order.OrderItems)
                {
                    <li>@itm.Status</li>
                }
            </ul>
        </td>
        <td>
            <text>Rs. </text>@order.TotalCost
        </td>
        <td>
            @Html.ActionLink("Request Cancellation", "Cancellation", new { id = order.Id })
        </td>
    </tr>
    }
</table>