@model kl_eCom.Web.Models.ShopProductsViewModel
@using (Html.BeginForm("FiltersPartial", "Shop", FormMethod.Post))
{

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.CategoryId)
@Html.HiddenFor(m => m.StoreId)
@Html.HiddenFor(m => m.SelectedOption)
<div style="display: flex; flex-direction: column; border-right: 1px solid lightgrey;">
    <div class="row" style="margin: 0; padding: 0 10px; border-bottom: 1px solid lightgrey;">
        @Html.Label("Filters", new { @class = "col-md-5", style = "margin-top: 5px" })
        <input type="submit" class="btn btn-link col-md-offset-3 col-md-4" value="Submit" />
    </div>
    <div class="row" style="margin: 0; padding: 0; margin-top: 15px;">
        <div class="col-md-offset-2">
            <div style="display: flex; justify-content: space-between">
                @Html.Label("Price:")
                <input type="button" id="clearPrice" value="clear" class="btn-link" />
            </div>
            <div class="col-md-offset-2">
                <div>
                    @foreach (var priceItm in Model.FilterViewModel.PriceSelection.PriceSelectionItems)
                    {
                        <input type="radio" id=@string.Format("PriceItm{0}", priceItm.Id) name="PriceList" value="@priceItm.Id" @if (Model.FilterViewModel.PriceSelection.PriceItemSelected == priceItm.Id) { <text> checked</text>} />@priceItm.DisplayName<text><br /></text>
                    }
                    <div style="padding-left: 15px; margin-top: 5px">
                        @Html.TextBoxFor(m => m.FilterViewModel.MinValue, new { @class = "PriceTxt", style = "max-width: 130px" })
                        <text> to </text>
                        @Html.TextBoxFor(m => m.FilterViewModel.MaxValue, new { @class = "PriceTxt", style = "max-width: 130px" })
                    </div>
                </div>
                <hr style="margin: 0; margin-left: 50px; margin-right: 40px;" />
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0; padding: 0; margin-top: 15px;">
        <div class="col-md-offset-2">
            <div style="display: flex; justify-content: space-between">
                @Html.Label("Average Rating:")
                <input type="button" id="clearRating" value="clear" class="btn-link" />
            </div>
            <div class="col-md-offset-2">
                <div>
                    @foreach (var ratingItm in Model.FilterViewModel.RatingSelection.RatingSelectionItems)
                    {
                        <input type="radio" id="RatingList" name="RatingList" value="@ratingItm.Id" @if (Model.FilterViewModel.RatingSelection.RatingItemSelected == ratingItm.Id) { <text> checked</text>} />@ratingItm.DisplayName<text><br /></text>
                    }
                </div>
                <hr style="margin: 0; margin-left: 50px; margin-right: 40px;" />
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0; padding: 0; margin-top: 15px;">
        <div class="col-md-offset-2">
            <div style="display: flex; justify-content: space-between">
                @Html.Label("Newest Arrivals:")
                <input type="button" id="clearNewArrvl" value="clear" class="btn-link" />
            </div>
            <div class="col-md-offset-2">
                <div>
                    @foreach (var newArvlItm in Model.FilterViewModel.NewestArrivalSelection.NewestArrivalSelectionItems)
                    {
                        <input type="radio" id="NewArrivalsList" name="NewArrivalsList" value="@newArvlItm.Id" @if (Model.FilterViewModel.NewestArrivalSelection.NewestArrivalItemSelected == newArvlItm.Id) { <text> checked</text>} />@newArvlItm.DisplayName<text><br /></text>
                    }
                </div>
                <hr style="margin: 0; margin-left: 50px; margin-right: 40px;" />
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0; padding: 0; margin-top: 15px;">
        <div class="col-md-offset-2">
            <div style="display: flex; justify-content: space-between">
                @Html.Label("Availability:")
                <input type="button" id="clearAvlblty" value="clear" class="btn-link" />
            </div>
            <div class="col-md-offset-2">
                <div>
                    @foreach (var avbleItm in Model.FilterViewModel.AvailabilitySelection.AvailabilitySelectionItems)
                    {
                        <input type="radio" id="AvailabilityList" name="AvailabilityList" value="@avbleItm.Id" @if (Model.FilterViewModel.AvailabilitySelection.AvailabilityItemSelected == avbleItm.Id) { <text> checked</text>} />@avbleItm.DisplayName<text><br /></text>
                    }
                </div>
                <hr style="margin: 0; margin-left: 50px; margin-right: 40px;" />
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#PriceItm3").ready(function () {
                if ($("#PriceItm3").prop('checked') == false) {
                    $(".PriceTxt").prop('disabled', true);                  
                }
            });

            $('input:radio[name=PriceList]').change(function () {
                if ($("#PriceItm3").prop('checked') == false) {
                    $(".PriceTxt").prop('disabled', true);
                }
                else {
                    $(".PriceTxt").prop('disabled', false);
                }
            });

            $("#clearPrice").click(function () {
                $('input:radio[name=PriceList]').prop('checked', false);
                $(".PriceTxt").prop('disabled', true);    
            });
            $("#clearRating").click(function () {
                $('input:radio[name=RatingList]').prop('checked', false);
            }); 
            $("#clearNewArrvl").click(function () {
                $('input:radio[name=NewArrivalsList]').prop('checked', false);
            });
            $("#clearAvlblty").click(function () {
                $('input:radio[name=AvailabilityList]').prop('checked', false);
            });
        });
    </script>    
}