@model kl_eCom.Web.Models.ShopProductDetailsViewModel
@{
    Layout = "~/Views/Shared/_EcomLayout.cshtml";
    ViewBag.Title = "Product Details";
    var width = "80px";
    var height = "40px";
}

<div class="container">
    <div class=" row" style="margin-bottom: 15px; margin-top: 15px">
        <div class="col-md-offset-1">
            <a href="@ViewBag.ReturnUrl">Go back</a>
        </div>
    </div>

    <div class="row" style="max-height: 400px">
        <div class="col-md-offset-1 col-md-5">
            <div class="row">
                <div class="col-md-6" style="margin-top: 40px">
                    @{ int j = 0; }
                    @if (Model.Stock.Product.ProductImages.Count != 0)
                    {
                        foreach (var img in Model.Stock.Product.ProductImages)
                        {
                        <img id="@string.Format("Img{0}", j++)" class="col-md-6 thumb-images" 
                             style="margin: 5px; min-width: @width; min-height: @height; max-width: @width; max-height: @height;"
                             src="@Url.Action("GetImage", "Product",
                                                new { area = "Vendors", path = img.ImagePath, type = img.ImageMimeType })" />
                        }
                    }
                    else
                    {
                        <img id="@string.Format("Img{0}", j++)" class="img-thumbnail thumb-images"
                             style="min-width: @width; min-height: @height; max-width: @width; max-height: @height;"
                             src="@Url.Action("GetThumbnail", "Product",
                                                new { area = "Vendors", id = Model.Stock.ProductId })" />
                    }
                </div>
                <div class="col-md-6">
                    <img id="mainImg" width="320" height="215"
                         style="min-height: 215px; min-width: 320px;
                                max-height: 215px; max-width: 320px;
                                margin: 10px 25px; position: relative;
                                right: 30px" />
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4"
             style="position: relative; right: 30px">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.StockId)
                @Html.HiddenFor(m => m.ReturnUrl)

                <div>
                    <h2>@Model.Stock.Product.Name</h2>
                </div>
                <div>
                    <label style="margin-right: 10px">Rating: </label>@Model.Stock.Product.Rating
                </div>
                <div>
                    <label style="margin-right: 10px">Manufacturer: </label>@Model.Stock.Product.Manufacturer
                </div>
                <div>
                    <p>@Model.Stock.Product.Description</p>
                </div>
                <div>
                    @Html.Label("Price: " + string.Format("{0}", Model.Stock.Price))
                </div>

                <div>
                    @{
                        var inStock = true;
                        var stockList = new List<int>();

                        if (Model.Stock.CurrentStock == 0)
                        {
                            inStock = false;
                        }
                        else
                        {
                            var count = (Model.Stock.MaxAmtPerUser
                                    < Model.Stock.CurrentStock) ?
                                        Model.Stock.MaxAmtPerUser : Model.Stock.CurrentStock;

                            for (int i = 1; i <= count - Model.AlreadyInCart; i++)
                            {
                                stockList.Add(i);
                            }
                        }

                        var qtyList = new SelectList(stockList);

                        if (!inStock)
                        {
                            @Html.Label("Out Of Stock")
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.Qty, qtyList)
                            <input type="submit" value="Add To Cart" />
                        }
                    }
                </div>
            }
        </div>
        <div class="col-md-offset-3 col-md-6 col-md-offset-3" style="margin-top: 50px">
            @Html.Label("Product Specifications:") <br />
            <table class="table">
                <tr>
                    @if (Model.Stock.Product.Category
                            .Attributes == null)
                    {
                        <text>Empty</text>
                    }
                    else
                    {
                        for (int i = 0; i < (Model.Stock
                                .Product.Category
                                .Attributes.Count); i++)
                        {
                        <td>
                            @Model.Stock.Product.Category.Attributes.ElementAt(i).Name
                        </td>
                        <td>
                            @Model.Stock.Product.Specifications.ElementAt(i).Value
                        </td>
                        }
                    }
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        $("#mainImg").attr("src", $("#Img0").attr("src"));

        $(".thumb-images").click(function () {
            $("#mainImg").attr("src", $(this).attr("src"));
        });
    });
</script>    
}