@model kl_eCom.Web.Areas.Vendors.Models.ProductChangeCategoryViewModel
@{
    ViewBag.Title = "Change Category";
}

<h2>Change Category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Name
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Current Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @ViewBag.Current
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Available Categories", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var selectList = new SelectList(ViewBag.Cats);
            }
            @Html.DropDownListFor(m => m.SelectedCategory, selectList, optionLabel: "Please select a category")
        </div>
    </div>

    <input type="submit" class="btn btn-primary col-md-offset-2" value="Change" />
</div>
}

@Html.ActionLink("Back to Details", "Details", new { id = Model.Id })