@model kl_eCom.Web.Areas.Vendors.Models.ProductIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

@Html.ActionLink("+ Create Product", "Create", new { catId = ViewBag.catId }) 

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Description")
        </th>
        <th>
            @Html.Label("Category")
        </th>
        <th>
            @Html.Label("Specifications")
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @if (item.ThumbnailData != null && item.ThumbnailMimeType != null)
                {
                    <text>
                        <img class="img-thumbnail" width="45" height="45"
                             src="@Url.Action("GetThumbnail", "Product",
                            new { item.Id })" />
                    </text>
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(m => item.Description)
            </td>
            <td>
                @Html.DisplayFor(m => item.Category.Name)
            </td>
            <td>
                <ul>
                    @foreach (var spec in item.Specifications)
                    {
                        <li>
                            @Html.DisplayFor(m => spec.Name)
                            -
                            @Html.DisplayFor(m => spec.Value)
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Add Stock", "Stock", new { prodId = item.Id, storeId = ViewBag.storeId })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Go to Category", "Details", "Category", new { catId = ViewBag.catId, storeId = ViewBag.storeId }, null) | 
@Html.ActionLink("All Products", "AllProducts")